@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';

:root {
  --primary-dark-blue: #0e1f3f;
  --accent-gold: #d4af37;
  --text-light: #ffffff;
  --text-dark-blue: #0e1f3f;
  --background-light: #f9f9f9;

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}